<form action="/pizzas" method="POST">
  
  <label for="firstName">First Name:</label>
  <input type="text" name="first_name" id="firstName"/>

  <label for="lastName">Last Name:</label>
  <input type="text" name="last_name" id="lastName"/>

  <label for="pizzaSelect">Select a Pizza:</label>
  <select name="topping" id="pizzaSelect">
    <option value="Strawberry">Strawberry</option>
    <option value="Scrummy">Scrummy</option>
  </select>

  <label for="Quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity">

  <input type="submit" value="Submit">


</form>
